.multiselect {
  $parentClass: &;

  &__label {
    margin: 0px 0px 8px 0px;
    @include pInput;
    color: var(--primary-black);
  }

  &__heading,
  &__content {
    background: var(--primary-white);
  }

  &__heading {
    position: relative;
    min-height: 46px;
    padding: 6px 16px;
    border-radius: 4px;
    @include collapse;
    outline: 1px solid var(--primary-light-gray);

    & > *:not(:last-child) {
      margin: 0px 12px 0px 0px;
    }

    &:hover {
      outline: 1px solid var(--secondary-gray);
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 16px;
    color: var(--secondary-gray);
  }

  &__content {
    max-height: 240px;
    display: none;
    padding: 12px 0;
    border-radius: 0 0 4px 4px;
    overflow: auto;
    outline: 1px solid var(--primary-light-gray);
  }

  &--dark {
    @include parent($parentClass) {
      &__label {
        color: var(--primary-white);
      }

      &__heading,
      &__content {
        background: var(--secondary-black);
      }

      &__heading,
      &__content {
        outline: none;
      }

      &__heading {
        &:hover {
          outline: 1px solid var(--primary-dark-gray);
        }
      }

      &__option {
        &:hover {
          background: rgba(205, 205, 205, 0.05);
        }
      }
    }
  }

  &--active {
    @include parent($parentClass) {
      &__icon {
        transform: rotate(180deg);
      }
      &__heading {
        border-radius: 4px 4px 0 0;
      }
      &__content {
        display: block;
      }
    }
  }
}
