.input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

  &--default {
    max-width: 340px;
  }

  &__label {
    margin: 0px 0px 8px 0px;
    @include pInput;
    color: var(--primary-black);

    &--dark {
      color: var(--primary-white);
    }
  }

  &__children {
    border-radius: 4px;
    outline: 1px solid var(--primary-light-gray);
    background: var(--primary-white);
    overflow: hidden;

    &:hover:not(.input-wrapper__children--error) {
      outline: 1px solid var(--secondary-gray);
    }

    &:focus-within {
      outline: 1px solid var(--primary-dark-gray) !important;
    }

    &--dark {
      outline: none;
      background: var(--secondary-black);

      &:hover:not(.input-wrapper__children--error) {
        outline: 1px solid var(--primary-dark-gray);
      }

      &:focus-within {
        outline: 1px solid var(--primary-light-gray) !important;
      }
    }

    &--error {
      outline: 1px solid var(--accent-error);
    }
  }

  &__error {
    position: absolute;
    left: 0;
    bottom: -28px;
    @include flexItemsCenter;
    @include pSmallLight;
    color: var(--accent-error);
    gap: 4px;
  }
}
