@import "../../styles/mixins.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &--default,
  &--text {
    @include pButton;
    text-transform: uppercase;
  }

  &--default {
    width: 200px;
    min-height: 47px;
    padding: 0 20px;
    border-radius: 30px;
    color: var(--primary-white);
    background: var(--primary-black);

    &:hover:not([disabled]) {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
      opacity: 0.5;
    }

    &:focus {
      background: #232323;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &--dark {
      background: var(--accent-gold);

      &:hover:not([disabled]) {
        box-shadow: 0px 4px 10px 0px rgba(171, 137, 86, 0.25);
      }

      &:disabled {
        opacity: 0.5;
      }

      &:focus {
        background: #ba9052;
        box-shadow: 0px 4px 10px 0px rgba(171, 137, 86, 0.25);
      }
    }
  }

  &--text {
    position: relative;
    padding: 10px;
    gap: 12px;
    color: var(--primary-dark-gray);
    text-decoration: underline;
    text-underline-offset: 5px;

    &:hover:not([disabled]) {
      color: var(--primary-black);
    }

    &:disabled {
      color: var(--primary-light-gray);
    }

    &:focus {
      color: var(--primary-black);
    }

    &--dark {
      color: var(--primary-light-gray);
      background: none !important;

      &:hover:not([disabled]) {
        color: var(--primary-white);
      }

      &:disabled {
        color: var(--secondary-gray);
      }

      &:focus {
        color: var(--primary-white);
      }
    }
  }

  &--icon {
    padding: 2px;
    border-radius: 4px;
    background: var(--secondary-white);
  }

  &--menu {
    padding: 8px;
    border-radius: 50%;
  }

  &--back-to-top {
    padding: 18px;
    border-radius: 50%;
  }

  &--text,
  &--icon,
  &--menu,
  &--back-to-top {
    color: var(--primary-dark-gray);

    &:hover:not([disabled]) {
      color: var(--primary-black);
    }

    &:disabled {
      color: var(--primary-light-gray);
    }

    &:focus {
      color: var(--primary-black);
    }

    &--dark {
      background: var(--secondary-black);
      color: var(--primary-light-gray);

      &:hover:not([disabled]) {
        color: var(--primary-white);
      }

      &:disabled {
        color: var(--primary-light-gray);
      }

      &:focus {
        color: var(--primary-white);
      }
    }
  }
}
