.edit-artist {
  &__modal {
    width: 100vw;
    position: relative;
    padding: 80px 30px;

    @include mediaSmall {
      padding: 80px 210px;
    }

    @include mediaLarge {
      width: auto;
      padding: 80px 100px;
    }
  }
}
