.auth-modal {
  width: 100vw;
  height: 100vh;
  @include flexItemsCenter;
  justify-content: center;
  overflow: auto;

  @include mediaLarge {
    width: auto;
    height: auto;
  }

  &__background {
    display: none;

    @include mediaLarge {
      display: block;
    }
  }

  &__content {
    padding: 20px 32px;
    @include flexItemsCenter;
    flex-direction: column;

    @include mediaLarge {
      padding: 20px 86px;

      &--register {
        padding: 20px 47px;
      }
    }
  }

  &__heading,
  &__message {
    text-align: center;
  }

  &__heading {
    margin: 0px 0px 40px 0px;
    @include h3;

    @include mediaSmall {
      @include h1;
    }

    @include mediaLarge {
      @include h2;
    }
  }

  &__message,
  &__message-link {
    @include pSmallLight;

    @include mediaSmall {
      @include pBaseLight;
    }
  }

  &__message {
    margin: 60px 0px 0px 0px;
    order: 1;

    @include mediaSmall {
      margin: 0px 0px 60px 0px;
      order: 0;
    }
  }
}
