.sidebar {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 100;

  @include mediaLarge {
    display: none;
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(3, 3, 3, 0.3);
    transition: opacity 500ms ease-in-out;
  }

  &__wrapper {
    position: absolute;
    width: 252px;
    height: 100%;
    right: -100%;
    background: var(--primary-white);
    transition: right 500ms ease-in-out;
    color: var(--primary-dark-gray);

    &--dark {
      background: var(--primary-black);
      color: var(--primary-light-gray);
    }

    @include mediaSmall {
      width: 466px;
    }
  }

  &__icon {
    position: absolute;
    top: 20px;
    right: 20px;

    @include mediaSmall {
      top: 32px;
    }
  }
}

.enter-done {
  .sidebar__background {
    opacity: 1;
  }

  .sidebar__wrapper {
    right: 0;
  }
}
