@import url("./colors.scss");
@import url("./fonts.scss");
@import "./mixins.scss";

:root {
  font-family: "Iter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}

#root {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}
