.base-layout {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background: var(--primary-white);

  &--dark {
    background: var(--primary-black);
  }

  @include mediaSmall {
    gap: 100px;
  }
}
