.artist-profile-page {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mediaSmall {
    gap: 80px;
  }

  @include mediaLarge {
    gap: 160px;
  }

  &__container {
    @include container;
  }

  &__content > *:not(:last-child) {
    margin: 0px 0px 20px 0px;

    @include mediaSmall {
      margin: 0px 0px 40px 0px;
    }

    @include mediaLarge {
      margin: 0px 0px 160px 0px;
    }
  }

  &__heading {
    margin: 0px 0px 60px 0px;
    @include h3;
    color: var(--accent-red);

    @include mediaSmall {
      @include h1;
    }

    &--dark {
      color: var(--accent-gold);
    }
  }
}
