@import "../../styles/mixins.scss";

.link {
  @include pBaseMedium;
  color: var(--primary-dark-gray);
  text-decoration: underline;
  text-underline-offset: 5px;

  &:hover {
    color: var(--primary-black);
  }

  &--dark {
    color: var(--primary-light-gray);

    &:hover {
      color: var(--primary-white);
    }
  }
}
