.header {
  position: sticky;
  @include flexItemsCenter;
  min-height: 64px;
  top: 0;
  left: 0;
  background: var(--primary-white);
  z-index: 50;

  &--dark {
    background: var(--primary-black);
  }

  @include mediaSmall {
    min-height: 88px;
  }

  @include mediaLarge {
    min-height: 80px;
  }

  &__container {
    @include container;
  }

  &__content {
    @include flexItemsCenter;
    justify-content: space-between;
  }

  &__menu {
    display: none;

    @include mediaLarge {
      @include flexItemsCenter;
      gap: 60px;
    }
  }

  &__icon-burger {
    display: block;

    &--dark {
      color: var(--primary-light-gray);
    }

    @include mediaLarge {
      display: none;
    }
  }
}

.sidebar-content {
  padding: 144px 0 20px 47px;
  display: inline-flex;
  flex-direction: column;
  gap: 40px;

  @include mediaSmall {
    padding: 200px 0 20px 94px;
    gap: 60px;
  }
}
