.filters-layout {
  @include flexItemsCenter;
  gap: 20px;

  &__search {
    width: 304px;
    display: none;

    @include mediaSmall {
      display: block;
    }

    @include mediaLarge {
      width: 344px;
    }
  }
}

.sidebar-content {
  height: 100%;
  padding: 100px 20px 20px;
  display: flex;
  flex-direction: column;

  @include mediaSmall {
    padding: 183px 20px 20px;
  }

  @include mediaLarge {
    padding: 183px 132px 40px 40px;
  }

  &__accordion {
    flex: 1 1 auto;
  }

  &__controls {
    margin: 20px 0px 0px 0px;
    @include flexItemsCenter;
    justify-content: space-between;
  }
}
