@import "../../../styles/mixins.scss";

.grid-layout {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-auto-rows: max-content;
  gap: 20px;

  @include mediaSmall {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 24px;
  }

  @include mediaLarge {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 32px;
  }
}
