.textarea {
  width: 100%;
  padding: 12px 16px;
  @include pBaseLight;
  color: var(--primary-dark-gray);
  resize: none;

  &:focus {
    outline: none;
  }

  &--dark {
    color: var(--primary-light-gray);
  }
}
